.main{
    position: relative;
    background: #ebe9e9;
    width: 100%;
    padding: 1rem;
    background: linear-gradient(to left, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(truck.jpg) center /cover;
    background-repeat: no-repeat;
}
.content{
    color: white;
    margin-top: 5rem;
    justify-content: space-between;
}
.content h3{
    color: rgba(113, 99, 186, 255);
    padding-top: 100px;
}
.content h1{
    font-size: 70px;
    color: rgba(113, 99, 186, 255);
    line-height: 75%;
}
.content p{
    font-size: 16px;
    margin-top: 10PX;
    line-height: 30px;
    letter-spacing: 1px;
    font-family: 'Times New Roman', Times, serif;
}
.content span{
    align-items: center;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 10;
    margin-left: 5rem;
    text-align: center;
}
/* Media Query for screens smaller than 768px */
@media only screen and (max-width: 768px) {
    .content {
        margin-top: 2rem;
        text-align: center;
    }

    .content h3 {
        padding-top: 0;
    }

    .content h1 {
        font-size: 50px;
        line-height: 100%;
    }

    .content p {
        font-size: 14px;
        margin-top: 8px;
        line-height: 25px;
    }
}